<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>holaaa</h1>
    <br><br><br>

    <form method="post" action="/api/usuarios/login">
        <label for="username">Nombre</label>
        <input type="text" placeholder="username" name="username">

        <label for="password" >password</label>
        <input type="text" placeholder="password" name="password">

        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>